Tests/files/book_mixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="book">
	 <xsd:complexType mixed="true">
	  <xsd:sequence>
	   <xsd:element name="title" type="xsd:string"/>
	   <xsd:element name="author" type="xsd:string"/>
	  </xsd:sequence>
	 </xsd:complexType>
	</xsd:element>
</xsd:schema>
